<table class="table table-borderless" >
    <!-- Title -->
    <tr class="d-flex">
        <th class="col-2">Title</th><td class="col-8">{{form.title}}</td>
    </tr>
    <!-- Author -->
    <tr class="d-flex">
        <th class="col-2">Author</th><td class="col-8">{{form.author}}</td>
    </tr>
    <!-- Date lower and upper -->
    <tr class="d-flex">
        <th class="col-2">Date</th><td class="col-4">{{form.date_lower}}</td><td class="col-4">{{form.date_upper}}</td>
    </tr>
    <!-- Description -->
    <tr class="d-flex">
        <th class="col-2">Description</th><td class="col-8">{{form.description}}</td>
    </tr>
    <!-- Location: church -->
    <tr class="d-flex">
        <th class="col-2">Location</th><td class="col-8">{{form.location_church}}</td>
    </tr>
    <!-- Location: city -->
    <tr class="d-flex">
        <th class="col-2"></th><td class="col-8">{{form.location_city}}</td>
    </tr>
    <!-- Location: region -->
    <tr class="d-flex">
        <th class="col-2"></th><td class="col-8">{{form.location_region}}</td>
    </tr>
    <!-- Location: museum -->
    <tr class="d-flex">
        <th class="col-2"></th><td class="col-8">{{form.location_museum}}</td>
    </tr>
    <!-- Status -->
    <tr class="d-flex">
        <th class="col-2">Status (Completed)</th>
        <td class="col-1" align="left">{{form.status}}</td>
    </tr>
    <!-- Description -->
    <tr class="d-flex">
        <th class="col-2">Text</th><td class="col-8">{{form.text}}</td>
    </tr>
</table>