body
{
}

/* Colors of jumbo parts */
.jumbo-1, .jumbo-1:visited {
    background-color: lavender;
    color: chocolate;
    fill: lavender;
}

    .jumbo-1 text {
        fill: goldenrod;
    }

.jumbo-2, .jumbo-2:visited {
    background-color: chocolate;
    color: lavender !important;
    fill: chocolate;
}

.jumbo-3, .jumbo-3:visited {
    background-color: #355e3b;
    color: lavender !important;
    fill: #355e3b;
}

.jumbo-4, .jumbo-4:visited {
    background-color: #ff2400;
    color: lavender !important;
    fill: #ff2400;
}

.jumbo-5, .jumbo-5:visited {
    background-color: blue;
    color: white !important;
    fill: white;
}

    .jumbo-2 text, .jumbo-3 text, .jumbo-4 text, .jumbo-5 text {
        fill: lavender;
    }

@media (hover: hover) and (pointer: fine) {
    .jumbo-1.active {
        background-color: lightgray;
        color: saddlebrown;
    }

    .jumbo-1:hover {
        color: black;
        background-color: goldenrod;
        fill: goldenrod;
        cursor: pointer;
    }

        .jumbo-1:hover text {
            fill: black;
        }

    .jumbo-2:hover, .jumbo-3:hover, .jumbo-4:hover {
        color: white;
        background-color: goldenrod;
        fill: goldenrod;
        cursor: pointer;
        /* stroke: white; */
    }

    .jumbo-5:hover {
        color: white;
        background-color: darkblue;
        fill: lightblue;
        cursor: pointer;
    }
}

@media (hover: none) {
    .jumbo-4 {
        background-color: #ff2400;
        color: lavender !important;
        fill: #ff2400;
    }
}

/* What to do when the button is disabled */
.jumbo-1:disabled, .jumbo-2:disabled, .jumbo-3:disabled, .jumbo-4:disabled, .jumbo-5:disabled {
    color: lightgray;
    background-color: darkgray;
    fill: darkgray;
    cursor: wait;
}

/* Tree drawing */
.sent-error {
    background-color: #CDB3CD;
    color: darkred;
}

.edit-history {
    background-color: bisque;
    font-family: Courier New, Courier, monospace;
    font-size: 10px;
    color: darkblue;
}

/* Select2 needs some update*/
.select2-selection__clear {
    position: absolute;
    right: 20px;
    border: none;
    background-color: transparent;
}


/* MAP
*/

.map-list-switch {
    height: 44px;
    border-radius: 22px;
    padding: 2px;
    background-color: #ddd;
    top: 18px;
    z-index: 500;
    position: sticky;
    color: #000;
    box-sizing: border-box;
    font-size: 18px;
}

    .map-list-switch.map-active {
        background-color: #000;
        color: #fff;
    }

    .map-list-switch ul {
        list-style: none;
        display: flex;
        padding: 0;
    }

    .map-list-switch li {
        height: 40px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        padding: 0 20px;
    }

        .map-list-switch li.list-switch {
            background-color: #fff;
        }

    .map-list-switch.map-active li.map-switch {
        background-color: #fff;
    }

    .map-list-switch.map-active li.list-switch {
        background-color: transparent;
    }

        .map-list-switch.map-active li.list-switch .switch-item {
            color: #fff;
        }

    .map-list-switch .switch-item {
        display: flex;
        text-decoration: none;
        color: #000;
        /* line-height: 29px;*/
        font-size: 24px;
        line-height: 50px; /* was 1.5em */
        border-top-right-radius: 7px; /* nieuw */
        border-bottom-right-radius: 7px; /* nieuw */
    }

        .map-list-switch .switch-item strong {
            font-weight: 700;
            margin-right: 7px;
            border-top-right-radius: 7px; /* nieuw */
            border-bottom-right-radius: 7px; /* nieuw */
        }

.fa-list {
    /* background-color: #e4e3e3;*/
    /*display: inline-block;*/
    float: left;
    line-height: 50px;
    border-right: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    /*color: #555;*/
}

.fa-map {
    /* background-color: #e4e3e3;*/
    /*display: inline-block;*/
    float: left;
    line-height: 50px;
    border-right: 0;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    /*color: #555;*/
}

.iberian-map {
    z-index: 5;
    top: -38px;
    /* bottom: 100px; */
    /* -45px; */
    position: absolute;
}

.inner-map {
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    right: 0px;
    margin-top: 0px;
}

.leaflet-top {
    margin-top: 65px;
    margin-right: 35px;
}

.btn {
    font-size: large;
}

.leaflet-marker-icon .fa-map-marker-alt {
    font-size: x-large;
    color: #2b92ec;
}

.fa-map-marker-alt {
    font-size: 10px;
    color: black;
}


.fa-map-marker:before {
    font-size: 25px;
    /*color: orange;*/
}

.fa-map-marker-switch {
    font-size: 18px;
    color: orange;
}


/* Added based on RIPD helpt niet */
    .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1.5; /* This is the correct measure for btn-xs */

    -webkit-font-smoothing: antialiased;
    /*-moz-osx-font-smoothing: grayscale; */
}
.hidden {
    display: none;
}

.jumbotron {
    padding-right: 20px;
    padding-left: 20px;
}