<div class="map-list-switch {% if mode == 'map' %}map-active{% endif %}" >
  <ul>    
      <li class="list-switch">
        <div class="hidden">
	      {% csrf_token %}
        </div>
        <a class="switch-item"
          {% if mode == "map" %}
            onclick="ru.iberian.goto_view(this, 'list');" 
            style="cursor: pointer;" {% endif %} >
          <i class="fas fa-list" aria-hidden="true"></i>&nbsp;
          <strong>&nbsp;List</strong>
          <span>({{nentries}})</span>
        </a>
      </li>
      <li class="map-switch">
        <div class="hidden">
	      {% csrf_token %}
        </div>
        <a class="switch-item" 
          {% if mode == "list" %}
            targeturl="{{maplistview}}"
            onclick="ru.iberian.goto_view(this, 'map');" 
            style="cursor: pointer;" 
          {% endif %} >        
          <i class="fas fa-map" aria-hidden="true"></i>&nbsp;
          <strong>Map</strong>
          <span>({{lentries}})</span>       
        </a>      
      </li>       
  </ul>
</div>